{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <script src="https://kit.fontawesome.com/5b148a6610.js" crossorigin="anonymous"></script>
    <title>IMPORTADORA LARRAIN</title>
</head>
<body class="fondo">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand">
            <img src="{%static 'img/larrain.gif'%}" alt="" width="40" height="40" class="d-inline-block align-text-center">
            IMPORTADORA LARRAIN
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span></span>
            <span></span>
            <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">INICIO</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="/store">TIENDA</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="/oferta">OFERTAS</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="/seguimiento">SEGUIMIENTO COMPRA</a>
                  </li>
              </ul>
              {% if request.session.email %}
              <ul class="navbar-nav ms-auto">
                <a href="perfil/{{cliente.cliente_rut}}"><button class="btn btn-outline-success me-2" type="button">PERFIL</button></a>
              </ul>
              <ul class="blanco" style="visibility:hidden">
                <p id="email" name="email"> {{ cliente.cliente_rut}}</p> 
              </ul>
              <ul class="navbar-nav ms-auto">
                <a href="/cerrarsesion">
                <button class="btn btn-outline-success me-2" type="button">CERRAR SESIÓN</button></a>
              </ul>
              {% else %}
              <ul class="navbar-nav ms-auto">
                  <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">INICIAR SESIÓN</button>
              </ul>
              {% endif %}
              <ul class="form-inline my-2 my-lg-0"> 
                <a href="/cart/">
                    <img  id="cart-icon" src="{% static 'img/cart.png' %}">
                </a>
              {% if cart %}
              <p id="cart-total">{{cart.get_cantidad}}</p>
              {% else %}
              <p id="cart-total">0</p>
              </ul> 
              {% endif %}
              </div>
              
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Inicio de sesión</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Cliente</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Empleado</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                          <form class="needs-validation" action="login" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-">
                                <div class="mb-3 position-relative">
                                  <label for="exampleFormControlInput1" class="form-label espacio4">Correo Electrónico</label>
                                  <input type="email" class="form-control" id="exampleFormControlInput1" name="correo" placeholder="Debe ingresar un Email valido en mayusculas" pattern="[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$" required>
                                  <!--MENSAJE-->
                                  <div class="invalid-feedback">Ingrese un Correo Válido.</div>
                                </div>
                                <div class="mb-3 position-relative">
                                  <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                                  <input type="password" class="form-control" id="exampleFormControlInput1" name="contraseña" placeholder="Ingrese una contraseña" required>
                                  <!--MENSAJE-->
                                  <div class="invalid-feedback">Ingrese una contraseña.</div>
                                </div>         
                                <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#algo">INGRESAR</button>
                                <button type="submit" class="btn btn-secondary" >Ingresar</button>
                                <a href="registro"><button type="button" class="btn btn-primary">Crear cuenta</button></a>
                                {%if messages %}
                                  <ul class="messages"> 
                                      {%for message in messages %}
                                      <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                                          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                              <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                              </symbol>
                                          </svg>
                                          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                          {% endif %}
                                          {{ message }}
                                      </li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                            </div>
                        </div>                   
                        </form>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <form class="needs-validation" action="logemp/" method="POST" novalidate >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-">
                                <div class="mb-3 position-relative">
                                  <label for="exampleFormControlInput1" class="form-label espacio4">USUARIO</label>
                                  <input type="text" class="form-control" id="exampleFormControlInput1" name="empleado" placeholder="Debe ingresar un usuario válido" required> 
                                  <!--MENSAJE-->
                                  <div class="invalid-feedback">Ingrese un usuario válido.</div>
                                </div>
                                <div class="mb-3 position-relative">
                                  <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                                  <input type="password" class="form-control" id="exampleFormControlInput1" name="clave" placeholder="Ingrese una contraseña" required>
                                  <!--MENSAJE-->
                                  <div class="invalid-feedback">Ingrese una contraseña.</div>
                                </div>         
                                <button type="submit" class="btn btn-secondary">Ingresar</button></a>
                            </div>
                        </div>                   
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="algo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-center" id="exampleModalLongTitle">ERROR</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                      Correo o contraseña no coinciden.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </nav>
    {% block content %}
    {% endblock%}
    <script src="{%static 'app/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'app/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'app/js/formulario.js'%}"></script>
    
</body>
</html>