<div class="container">
    <div class="row justify-content-center" style="margin-left: 20px; margin-top: 15px; margin-bottom: 20px;">
        <div class="col-md-4">
            <div class="input-group rounded" style="width: 450px;">
                <input type="search" class="form-control rounded" placeholder="Buscar Producto" aria-label="Search"
                    aria-describedby="search-addon" />
                <button class="btn btn-primary" id="search-addon">
                    <i class="fas fa-search"></i>
                    </span>
            </div>
        </div>
    </div>
    </div>