{%extends "base/navbarStore.html"%}
{%load static%}

<body>
  {% block navbar %}
  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store">TIENDA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">OFERTAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">FUNCION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">FUNCION</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal"
        data-bs-target="#exampleModal">INICIAR SESIÓN</button>
    </ul>
    <ul class="form-inline my-2 my-lg-0">
      <a href="carrito">
        <img id="cart-icon" src="{% static 'img/cart.png' %}">
      </a>
      <p id="cart-total">0</p>
    </ul>
  </div>
  {% endblock%}
  {% block content %}
  <div class="row align-items-center justify-content-center espacio2">
    <div class="col-md-9">
      <section>
      <!--Menu Inicio-->
      <ul class="nav nav-pills align-items-center justify-content-center">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">TODAS LAS CATEGORIAS</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">CELULARES</a></li>
          <li><a class="dropdown-item" href="#">COMPUTADORES Y TABLETS</a></li>
          <li><a class="dropdown-item" href="#">COMPONENTES</a></li>
          <li><a class="dropdown-item" href="#">TV Y SMART TV</a></li>
          <li><a class="dropdown-item" href="#">LINEA BLANCA</a></li>
          <li><a class="dropdown-item" href="#">JUEGOS Y CONSOLAS</a></li>
          <li><a class="dropdown-item" href="#">CODIGOS DIGITALES</a></li>
          <li><a class="dropdown-item" href="#">SOFTWARES</a></li>
          <li><a class="dropdown-item" href="#">NOTEBOOKS</a></li>
          <li><a class="dropdown-item" href="#">AUDIO</a></li>
          <li><a class="dropdown-item" href="#">FOTOGRAFIA</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="#">MARCAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACTO</a>
      </li>
      </ul>
      <!--Cierre Menu Inicio-->
      <!--Carousel-->
      <div id="carouselExampleIndicators" class="carousel slide espacio4" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="{% static 'img/inicio1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="{% static 'img/inicio2.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="{% static 'img/inicio3.png' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
      <!--Cierre Carousel-->
      </section>
      <section>
      <!--Menu secundario-->
        <ul class="nav nav-pills mb-3 espacio4 align-items-center justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-ofertas-tab" data-bs-toggle="pill" data-bs-target="#pills-ofertas" type="button" role="tab" aria-controls="pills-ofertas" aria-selected="true">OFERTA Y LANZAMIENTOS</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-computacion-tab" data-bs-toggle="pill" data-bs-target="#pills-computacion" type="button" role="tab" aria-controls="pills-computacion" aria-selected="false">COMPUTACIÓN</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-telefonia-tab" data-bs-toggle="pill" data-bs-target="#pills-telefonia" type="button" role="tab" aria-controls="pills-telefonia" aria-selected="false">TELEFONÍA</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-sonido-tab" data-bs-toggle="pill" data-bs-target="#pills-sonido" type="button" role="tab" aria-controls="pills-sonido" aria-selected="false">TV, CONSOLAS Y AUDIO</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-piezas-tab" data-bs-toggle="pill" data-bs-target="#pills-piezas" type="button" role="tab" aria-controls="pills-piezas" aria-selected="false">PARTES Y PIEZAS</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="false">HOME OFFICE</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-educativo-tab" data-bs-toggle="pill" data-bs-target="#pills-educativo" type="button" role="tab" aria-controls="pills-educativo" aria-selected="false">EDUCATIVO</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-ofertas" role="tabpanel" aria-labelledby="pills-ofertas-tab">
            <div class="container align-items-center justify-content-center">
              <div class="row">
                <div class="col">
                  <img src="{% static 'img/oferta3.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="col">
                  <img src="{% static 'img/oferta4.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="col">
                  <img src="{% static 'img/oferta5.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="col">
                  <img src="{% static 'img/oferta6.png' %}" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-computacion" role="tabpanel" aria-labelledby="pills-computacion-tab">...</div>
          <div class="tab-pane fade" id="pills-telefonia" role="tabpanel" aria-labelledby="pills-telefonia-tab">...</div>
          <div class="tab-pane fade" id="pills-sonido" role="tabpanel" aria-labelledby="pills-sonido-tab">...</div>
          <div class="tab-pane fade" id="pills-piezas" role="tabpanel" aria-labelledby="pills-piezas-tab">...</div>
          <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
          <div class="tab-pane fade" id="pills-educativo" role="tabpanel" aria-labelledby="pills-educativo-tab">...</div>
        </div>
      <!--Menu secundario-->
      </section>
      <section>
        <div class="container" style="margin-top: 20px;">
          <br>
          <h2 class="blanco" style="text-align: center; margin-bottom: 20px;">Productos en Oferta</h2>
          <hr>
          <div class="row align-items-center justify-content-center row-cols-auto">
            {% for product in page_obj %}
            <div class="col-md-auto">
              <div class="card card-body" style="text-align: center; margin-bottom: 30px; width: 280px;">
                {% if product.imagen %}
                <a href="producto/{{ product.data.0 }}"><img class="thumbnail"
                    src="data:imagen/png;base64, {{product.imagen}}" alt="" /></a>
                {% endif %}
                <div class="card-text" style="margin-top: 5px;">
                  <h4 style="color: black;">{{ product.data.1 }}</h4>
                  <p>{{ product.data.2 }}$ CLP</p>
                  <hr>
                  <button class="btn btn-outline-secondary add-btn" style="margin-bottom: 10px;">Añadir al
                    Carrito</button>
                  <a href="producto/{{ product.data.0 }}" class="btn btn-outline-success">Ver
                    Producto</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
  {% endblock %}
</body>