{%extends "base/navbar.html"%}
{%load static%}
{% block navbar %}
<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">INICIO</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="store">TIENDA</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="">OFERTAS</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="">FUNCION</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="">FUNCION</a>
    </li>
</ul>
<ul class="navbar-nav ms-auto">
    <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">INICIAR SESIÓN</button>
</ul>
<ul class="form-inline my-2 my-lg-0"> 
  <a href="carrito">
      <img  id="cart-icon" src="{% static 'img/cart.png' %}">
  </a>
<p id="cart-total">0</p>
</ul> 
</div>
{% endblock%}
{% block content %}
<h1 class="blanco" style="text-align: center;">Productos Disponibles</h2>
<br>
<br>
{% for productoss in productos %}
<div class="row align-items-center justify-content-center flex-container" style="margin-bottom: 40px;">
    <div class="col-md-12">
        <div class="container">
            <div style="text-align: center; width: 900px;">
                <div class="col-lg-4">
                    <img class="thumbnail" src="{{ producto.imagen.url }}">
                    <div class="box-element product">
                        <h4><strong>{{ productoss.nombre_producto }}</strong></h4>
                        <h5 style="display: inline-block;"><strong>{{ productoss.precio }} $CLP</strong></h5>
                        <hr>
                        <button  class="btn btn-outline-secondary add-btn"><a href="">Añadir al Carrito</button></a>
                        <a class="btn btn-outline-success" href="{% url 'producto' pk=productoss.pk %}">Ver Producto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}