{%extends "base/navbar.html"%}
{%load static%}

{% block navbar%}
<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link" aria-current="page" href="home">FUNCION</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">FUNCION</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">FUNCION</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">FUNCION</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">FUNCION</a>
      </li>
  </ul>
  <ul class="navbar-nav ms-auto">
      <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">INICIAR SESIÓN</button>
  </ul>
  </div>
{% endblock%}

<body>
    {% block content %}
    <section>
        <div class="container-fluid espacio2 gradient3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-10 blanco">
                    <div class="container espacio3">
                        <div class="d-flex align-items-start">
                        <!-- FORMULARIO DE REGISTRO DE CLIENTES-->
                            <form class="needs-validation col-md-12" action="" method="POST" novalidate>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-">
                                        <div class="row espacio_form">
                                            <div class="col position-relative">
                                                <label for="exampleFormControlInput1" class="form-label">RUT</label>
                                                <input type="text" class="form-control" id="rut" name="rut" placeholder="12.345.678-9" min="111111111" max="999999999" required>
                                                <!--MENSAJE-->
                                                <div class="invalid-feedback">El Rut debe ser Valido.</div>
                                            </div>
                                        </div>
                                        <div class="mb-3 position-relative">
                                            <label for="exampleFormControlInput1" class="form-label">NOMBRE</label>
                                            <input type="text" id="nombre" name="nombre" class="form-control" required pattern="[A-Z ]{3,30}"> 
                                            <!--MENSAJE-->
                                            <div class="invalid-feedback">El nombre debe ser de 3 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                        </div>
                                        <div class="row espacio_form position-relative">
                                            <div class="col">
                                                <label for="exampleFormControlInput1" class="form-label">APELLIDO PATERNO</label>
                                                <input type="name" class="form-control" id="ap_paterno" name="ap_paterno" pattern="[A-Z ]{4,30}" placeholder="" required>
                                                <!--MENSAJE-->
                                                <div class="invalid-feedback">El apellido debe ser de 4 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                            </div>
                                            <div class="col position-relative">
                                                <label for="exampleFormControlInput1" class="form-label">APELLIDO MATERNO</label>
                                                <input type="name" class="form-control" id="ap_materno" name="ap_materno" pattern="[A-Z ]{4,30}" placeholder="" required>
                                                <!--MENSAJE-->
                                                <div class="invalid-feedback">El apellido debe ser de 4 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col position-relative">
                                                <label for="exampleFormControlInput1" class="form-label">Genero</label>
                                                <div class="col">
                                                <div class="form-check form-check-inline col">
                                                    <input class="form-check-input" type="radio" name="genero" id="inlineRadio1" value="M" required>
                                                    <label class="form-check-label" for="inlineRadio1">Masculino</label>
                                                </div>
                                                <div class="form-check form-check-inline col">
                                                    <input class="form-check-input" type="radio" name="genero" id="inlineRadio2" value="F">
                                                    <label class="form-check-label" for="inlineRadio2">Femenino</label>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col position-relative">
                                                <label for="exampleFormControlInput1" class="form-label">TELÉFONO</label>
                                                    <input type="number" class="form-control" id="telefono" name="telefono" placeholder="56912345678" min="11111111111" max="99999999999" required>
                                                    <!--MENSAJE-->
                                                    <div class="invalid-feedback">Ingrese un número de teléfono anteponiendo "569" y 8 digitos.</div>
                                            </div> 
                                        </div>
                                        <div class="row espacio_form">
                                            <div class="col position-relative">
                                                <label for="email">EMAIL</label>
                                                <input type="email" class="form-control" id="email" name="email" pattern="[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$" required>
                                                <!--MENSAJE-->
                                                <div class="invalid-feedback">Ingrese un Correo Válido.</div>
                                            </div>
                                            
                                            <div class="mb-3 position-relative">
                                                <label for="exampleFormControlInput1" class="form-label">Dirección</label>
                                                <input type="text" class="form-control" id="exampleFormControlInput1" name="Direccion" placeholder="" pattern="[A-Z0-9# ]{4,40}" required> 
                                                <!--MENSAJE-->
                                                <div class="invalid-feedback">Ingrese una direccion valida en mayúsculas.</div>
                                            </div>
                                            <div class="mb-3 position-relative">
                                                <label for="exampleFormControlInput1" class="form-label">Ciudad</label>
                                                <select id="ciudad" name="ciudad" class="form-select" required>
                                                    <option selected disabled value="">Seleccione..</option>
                                                    {% for c in CIUDAD %}
                                                        <option value="{{ c.0 }}">{{c.1}}</option>
                                                    {% endfor %}
                                                </select>
                                                <!--MENSAJE-->
                                                <div class="invalid-feedback">Complete los datos</div>
                                            </div>   
                                        </div>
                                        </div>
                                        <div class="row espacio_form position-relative">
                                            <div class="col">
                                                <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                                                <input type="password" class="form-control" id="exampleFormControlInput1" name="clave" placeholder="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                                <!--MENSAJE-->
                                                <div class="invalid-feedback">La contraseña debe contener almenos un numero, una mayuscula, una minuscula y almenos 8 o mas caracteres.</div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <button type="submit" value="Submit" class="btn btn-warning btn-lg">Registrarme</button>
                                    {{mensaje}}
                                </div>       
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{%static 'app/js/formulario.js'%}"></script>
    {% endblock%}
   
</body>
</html>