{%extends "base/navbarStore.html"%}
{%load static%}


<body>
    {% block content %}
    <section>
        <div class="container-fluid espacio2 gradient3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-10">
                    <div class="container espacio3">
                        <div class="card row col-md-12" >
                            <div class="card-header ">
                                <h1 class="text-center">¡REGÍSTRATE!</h1>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-start">
                                <!-- FORMULARIO DE REGISTRO DE CLIENTES-->
                                    <form class="needs-validation col-md-12" action="" method="POST" novalidate>
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-">
                                                <div class="row espacio_form">
                                                    <div class="col position-relative">
                                                        <h4><label for="exampleFormControlInput1" class="form-label">RUT</label></h4>
                                                        <input type="text" id="rut" name="rut" class="form-control" placeholder="Ingrese su rut con guión y sin puntos." minlength="9" maxlength="10" required pattern="[0-9-K ]{9,10}">
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">El Rut debe ser Valido.</div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 position-relative">
                                                    <h4><label for="exampleFormControlInput1" class="form-label">NOMBRE</label></h4>
                                                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese un nombre o ambos en mayúsculas." minlength="3" maxlength="30"required pattern="[A-Z ]{3,30}"> 
                                                    <!--MENSAJE-->
                                                    <div class="invalid-feedback">El nombre debe ser de 3 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                                </div>
                                                <div class="row espacio_form position-relative">
                                                    <div class="col">
                                                        <h4><label for="exampleFormControlInput1" class="form-label">APELLIDO PATERNO</label></h4>
                                                        <input type="name" class="form-control" id="ap_paterno" name="ap_paterno" pattern="[A-Z ]{3,30}" minlength="3" maxlength="30" placeholder="Ingrese su apellido paterno en mayúsculas." required>
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">El apellido debe ser de 4 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                                    </div>
                                                    <div class="col position-relative">
                                                        <h4><label for="exampleFormControlInput1" class="form-label">APELLIDO MATERNO</label></h4>
                                                        <input type="name" class="form-control" id="ap_materno" name="ap_materno" minlength="3" maxlength="30" pattern="[A-Z ]{3,30}" placeholder="Ingrese su apellido materno en mayúsculas." required>
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">El apellido debe ser de 4 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col position-relative">
                                                        <h4><label for="exampleFormControlInput1" class="form-label">GÉNERO</label></h4>
                                                        <div class="col">
                                                        <div class="form-check form-check-inline col">
                                                            <input class="form-check-input" type="radio" name="genero" id="inlineRadio1" value="M" required>
                                                            <label class="form-check-label" for="inlineRadio1">Masculino</label>
                                                        </div>
                                                        <div class="form-check form-check-inline col">
                                                            <input class="form-check-input" type="radio" name="genero" id="inlineRadio2" value="F">
                                                            <label class="form-check-label" for="inlineRadio2">Femenino</label>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 position-relative">
                                                        <h4><label for="exampleFormControlInput1" class="form-label" style="visibility:hidden">TELÉFONO</label></h4>
                                                        <h5><label for="">+569</label></h5>
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">Ingrese un número de teléfono de 8 digitos.</div>
                                                    </div>  
                                                    <div class="col-md-5 position-relative">
                                                        <h4><label for="exampleFormControlInput1" class="form-label" >TELÉFONO</label></h4>
                                                        <input type="number" class="form-control" id="telefono" name="telefono" placeholder="12345678" min="11111111" max="99999999" required>
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">Ingrese un número de teléfono de 8 digitos.</div>
                                                    </div>
                                                </div>
                                                <div class="row espacio_form">
                                                    <div class="col position-relative">
                                                        <h4><label for="email">EMAIL</label></h4>
                                                        <input type="email" class="form-control" id="email" name="email" placeholder="Debe ingresar un Email valido en mayusculas" pattern="[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$" required>
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">Ingrese un Correo Válido.</div>
                                                    </div>
                                                </div>
                                                <div class="row espacio_form">    
                                                    <div class="mb-3 position-relative espacio_form">
                                                        <h4><label for="exampleFormControlInput1" class="form-label">DIRECCÍON</label></h4>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" name="Direccion" minlength="4" maxlength="40" placeholder="Ingrese una direccion de valida en mayúsculas." pattern="[A-Z0-9# ]{4,40}" required> 
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">Ingrese una direccion valida en mayúsculas.</div>
                                                    </div>
                                                    <div class="mb-3 position-relative espacio_form">
                                                        <h4><label for="exampleFormControlInput1" class="form-label">CIUDAD</label></h4>
                                                        <select id="ciudad" name="ciudad" class="form-select" required>
                                                            <option selected disabled value="">Seleccione..</option>
                                                            {% for c in CIUDAD %}
                                                                <option value="{{ c.0 }}">{{c.1}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">Complete los datos</div>
                                                    </div>   
                                                </div>
                                                </div>
                                                <div class="row espacio_form position-relative">
                                                    <div class="col">
                                                        <h4><label for="exampleFormControlInput1" class="form-label">Contraseña</label></h4>
                                                        <input type="password" class="form-control" id="exampleFormControlInput1" name="clave" placeholder="La contraseña debe contener almenos un numero, una mayuscula, una minuscula y almenos 8 o mas caracteres" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">La contraseña debe contener almenos un numero, una mayuscula, una minuscula y almenos 8 o mas caracteres.</div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <button type="submit" value="Submit" class="btn btn-warning btn-lg">Registrarme</button>
                                            {%if MensajeRegistroCorrecto %}
                                            <div class="alert alert-success d-flex align-items-center espacio4" role="alert" id="mensajecorrecto">
                                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                            </symbol>
                                            </svg>
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                                <div>
                                                    {{MensajeRegistroCorrecto}}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {%if MensajeMarcaError %}
                                            <div class="alert alert-danger d-flex align-items-center espacio4" role="alert" id="mensajeerror">
                                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </symbol>
                                            </svg>
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                                <div>
                                                    {{MensajeRegistroCorrecto}}
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>       
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{%static 'app/js/formulario.js'%}"></script>
    {% endblock%}
   
</body>
</html>