{%extends "base/navbar.html"%}
{%load static%}

<body>
    {% block content %}
    <section id="reserva">
        <div class="container-fluid espacio2 gradient3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 blanco">
                    <div class="container espacio3">
                        <!-- MENU LATERAL IZQUIERDO-->
                        <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-ofertas-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ofertas" type="button" role="tab" aria-controls="v-pills-ofertas" aria-selected="true">Ofertas</button>
                        </div>
                        <!-- CIERRE MENU-->
                        <div class="tab-content col-md-10" id="v-pills-tabContent">
                            <!-- MENU HORIZONTAL DE OFERTAS-->
                            <div class="tab-pane fade show active" id="v-pills-ofertas" role="tabpanel" aria-labelledby="v-pills-ofertas-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-crear-tab" data-bs-toggle="tab" data-bs-target="#nav-crear" type="button" role="tab" aria-controls="nav-crear" aria-selected="true">Subir Oferta</button>
                                        <button class="nav-link" id="nav-listar-tab" data-bs-toggle="tab" data-bs-target="#nav-listar" type="button" role="tab" aria-controls="nav-listar" aria-selected="false">Listar Ofertas</button>
                                    </div>
                                </nav>
                                <div class="tab-content espacio4" id="nav-tabContent">
                                     <!-- FORMULARIO DE CREACION DE OFERTAS-->
                                    <div class="tab-pane fade show active" id="nav-crear" role="tabpanel" aria-labelledby="nav-crear-tab">
                                            {% if messages %}
                                        {%for message in messages%}
                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                            <p{% if message.tags %} class=""{% endif %}>{{ message }}</p>

                                        </div>
                                        {%endfor%}
                                        {% endif %}
                                        <form class="needs-validation espacio_form" action="/subir_oferta1/" method="post" enctype="multipart/form-data" novalidate>  
                                            {% csrf_token %}  
                                            <inppload Excel file></inppload>
                                            <h3>Subir Nueva Oferta</h3>
                                            <input class="boton_subir position-relative" type="file" name="myfile" required>
                                            <!--MENSAJE-->
                                            <div class="invalid-feedback">Debe Seleccionar un archivo .xlsx.</div>
                                            <div >
                                                <button type="submit" class="btn btn-warning btn-lg">Subir</button>  
                                                {{mensaje}}
                                            </div>
                                        </form>
                                        
                                        
                                    </div>
                                    <!-- FORMULARIO DE LISTADO DE OFERTAS-->
                                    <div class="tab-pane fade" id="nav-listar" role="tabpanel" aria-labelledby="nav-listar-tab">
                                        <div class="card row col-md-12" >
                                            <div class="card-header ">
                                                <h1 class="text-center negro">Modificacion de empleado</h2>
                                            </div>
                                            <div class="card-body">
                                                <table class="table align-middle text-center">
                                                    <thead>
                                                        <tr>
                                                            <th>ID OFERTA</th>
                                                            <th>RUT PROVEEDOR</th>
                                                            <th>NOMBRE</th>
                                                            <th>APELLIDO</th>
                                                            <th>EMAIL</th>
                                                            <th>OFERTA</th>
                                                            <th>FECHA</th>
                                                            <th>RUT EMPLEADO</th>
                                                        </tr>
                                                    </thead> 
                                                    {% for p in ofertas %}
                                                    <tr>
                                                        <td>{{ p.0 }}</td>
                                                        <td>{{ p.1 }}</td>
                                                        <td>{{ p.2 }}</td>
                                                        <td>{{ p.3 }}</td>
                                                        <td>{{ p.4 }}</td>
                                                        <td>{{ p.5 }}</td>
                                                        <td>{{ p.6 }}</td>
                                                        <td>{{ p.7 }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </table>                                            
                                            </div>
                                        </div>
                            
                                        

                                    </div>
                                    <!-- FORMULARIO DE MODIFICACION DE OFERTAS-->
                                    <div class="tab-pane fade" id="nav-modificar" role="tabpanel" aria-labelledby="nav-modificar-tab">
                                        
                                    </div>
                                    <!-- FORMULARIO DE ELIMINACION DE OFERTAS-->
                                    <div class="tab-pane fade" id="nav-eliminar" role="tabpanel" aria-labelledby="nav-eliminar-tab">

                                    </div>
                                </div>
                            </div>
                            <!-- CIERRE MENU OFERTAS-->
                            <!-- MENU HORIZONTAL OFERTAS-->
                            <div class="tab-pane fade" id="v-pills-ofertas" role="tabpanel" aria-labelledby="v-pills-ofertas-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-listar-tab" data-bs-toggle="tab" data-bs-target="#nav-crear" type="button" role="tab" aria-controls="nav-crear" aria-selected="true">Listar Ofertas</button>
                                    </div>
                                </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-listar" role="tabpanel" aria-labelledby="nav-listar-tab">...</div>
                                    </div>
                            </div>
                        </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>        
    </section> 
    <script src="{%static 'app/js/formulario.js'%}"></script>
    {% endblock %}
    </div>   
</body>
</html>