{%extends "base/navbar.html"%}
{%load static%}

<body>
    {% block content %}
    <section id="reserva">
        <div class="container-fluid espacio2 gradient3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 blanco">
                    <div class="container espacio3">
                        <div class="d-flex align-items-start">
                        <!--Menu Bodeguero-->
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-mantenedor-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mantenedor" type="button" role="tab" aria-controls="v-pills-mantenedor" aria-selected="true">Mantenedor</button>
                            <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="false">Home</button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
                            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                        </div>
                        <div class="tab-content col-md-10" id="v-pills-tabContent">
                            <!--Opciones de mantenedor-->
                            <div class="tab-pane fade show active" id="v-pills-mantenedor" role="tabpanel" aria-labelledby="v-pills-mantenedor-tab">
                            <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-marca-tab" data-bs-toggle="tab" data-bs-target="#nav-marca" type="button" role="tab" aria-controls="nav-marca" aria-selected="true">Crear Marca</button>
                                <button class="nav-link" id="nav-categoria-tab" data-bs-toggle="tab" data-bs-target="#nav-categoria" type="button" role="tab" aria-controls="nav-categoria" aria-selected="false">Crear Categoria</button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
                            </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <!--Mantedor de Marcas-->
                                <div class="tab-pane fade show active" id="nav-marca" role="tabpanel" aria-labelledby="nav-marca-tab">
                                <form action"" method="POST">
                                    <div class="row espacio4">
                                        {% csrf_token %}
                                        <div class="col">
                                            <label class="espacio_form" for="inputEmail4">ID de Marca</label>
                                            <input type="number" class="form-control" name="id" id="id" placeholder="">
                                        </div>
                                        <div class="col">
                                            <label class="espacio_form" for="inputEmail4">Nombre de Marca</label>
                                            <input type="text" class="form-control" name="nombre_marca" id="nombre_marca" placeholder="">
                                        </div>
                                    </div>
                                    <button type="submit" value="Guardar" class="btn btn-warning btn-lg espacio4">Crear Marca</button>
                                </form>
                                </div>
                                <!--Cierre Mantedor de Marcas-->
                                <!--Mantedor de Categorias-->
                                <div class="tab-pane fade" id="nav-categoria" role="tabpanel" aria-labelledby="nav-categoria-tab">
                                <form action"" method="POST">
                                    <div class="row espacio4">
                                        {% csrf_token %}
                                        <div class="col">
                                            <label class="espacio_form" for="inputEmail4">ID de Categoria</label>
                                            <input type="number" class="form-control" name="id_categoria" id="id_categoria" placeholder="">
                                        </div>
                                        <div class="col">
                                            <label class="espacio_form" for="inputEmail4">Nombre de Categoria</label>
                                            <input type="text" class="form-control" name="nombre_categoria" id="nombre_categoria" placeholder="">
                                        </div>
                                    </div>
                                    <button type="submit" value="Guardar" class="btn btn-warning btn-lg espacio4">Crear Categoria</button>
                                </form>
                                </div>
                                <!--Cierre Mantedor de Categorias-->
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                            </div>
                            </div>
                            <!-- Cierre Opciones de mantenedor-->
                            <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                        </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>        
    </section> 
    {{ mensaje }}
    <!--agregar formulario de registro-->
    <table class="blanco">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
        </tr>
        {% for p in marcas %}
        <tr>
            <td>{{ p.0 }}</td>
            <td>{{ p.1 }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock%}
</body>
</html>