{%extends "base/navbar.html"%}
{%load static%}

{% block navbar%}
<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link" aria-current="page" href="home">Bienvenido</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">*nombre bodeguero*</a>
      </li>
  </ul>
  <ul class="navbar-nav ms-auto">
      <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">CERRAR SESIÓN</button>
  </ul>
  </div>
{% endblock%}

<body>
    {% block content %}
    <section id="reserva">
        <div class="container-fluid espacio2 gradient3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 blanco">
                    <div class="container espacio3">
                        <div class="d-flex align-items-start">
                        <!--Menu Bodeguero-->
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-mantenedor-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mantenedor" type="button" role="tab" aria-controls="v-pills-mantenedor" aria-selected="true">Mantenedores</button>
                            <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="false">Stock</button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
                            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                        </div>
                        <div class="tab-content col-md-10" id="v-pills-tabContent">
                            <!--Opciones de mantenedor-->
                            <div class="tab-pane fade show active" id="v-pills-mantenedor" role="tabpanel" aria-labelledby="v-pills-mantenedor-tab">
                            <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-marca-tab" data-bs-toggle="tab" data-bs-target="#nav-marca" type="button" role="tab" aria-controls="nav-marca" aria-selected="true">Crear Marca</button>
                                <button class="nav-link" id="nav-categoria-tab" data-bs-toggle="tab" data-bs-target="#nav-categoria" type="button" role="tab" aria-controls="nav-categoria" aria-selected="false">Crear Categoria</button>
                                <button class="nav-link" id="nav-producto-tab" data-bs-toggle="tab" data-bs-target="#nav-producto" type="button" role="tab" aria-controls="nav-producto" aria-selected="false">Crear Producto</button>
                            </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <!--Mantedor de Marcas-->
                                <div class="tab-pane fade show active" id="nav-marca" role="tabpanel" aria-labelledby="nav-marca-tab">
                                <form action"" method="POST">
                                    <div class="row espacio4">
                                        {% csrf_token %}
                                        <div class="col">
                                            <label class="espacio_form" for="inputEmail4">ID de Marca</label>
                                            <input type="number" class="form-control" name="id" id="id" placeholder="">
                                        </div>
                                        <div class="col">
                                            <label class="espacio_form" for="inputEmail4">Nombre de Marca</label>
                                            <input type="text" class="form-control" name="nombre_marca" id="nombre_marca" placeholder="">
                                        </div>
                                    </div>
                                    <button type="submit" value="Guardar" class="btn btn-warning btn-lg espacio4">Crear Marca</button>
                                </form>
                                </div>
                                <!--Cierre Mantedor de Marcas-->
                                <!--Mantedor de Categorias-->
                                <div class="tab-pane fade" id="nav-categoria" role="tabpanel" aria-labelledby="nav-categoria-tab">
                                <form action"" method="POST">
                                    <div class="row espacio4">
                                        {% csrf_token %}
                                        <div class="col">
                                            <label class="espacio_form" for="inputEmail4">ID de Categoria</label>
                                            <input type="number" class="form-control" name="id_categoria" id="id_categoria" placeholder="">
                                        </div>
                                        <div class="col">
                                            <label class="espacio_form" for="inputEmail4">Nombre de Categoria</label>
                                            <input type="text" class="form-control" name="nombre_categoria" id="nombre_categoria" placeholder="">
                                        </div>
                                    </div>
                                    <button type="submit" value="Guardar" class="btn btn-warning btn-lg espacio4">Crear Categoria</button>
                                </form>
                                </div>
                                <!--Cierre Mantedor de Categorias-->
                                <!--Mantedor de Productos-->
                                <div class="tab-pane fade" id="nav-producto" role="tabpanel" aria-labelledby="nav-producto-tab">
                                <form action="" method="POST" class="espacio4" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                <div class="col-md-">
                                    <div class="row espacio_form">
                                        <div class="col">
                                            <label for="exampleFormControlInput1" class="form-label">ID Producto</label>
                                            <input type="number" class="form-control" id="exampleFormControlInput1" name="id" placeholder="" required>
                                        </div>
                                        <div class="col">
                                            <label for="exampleFormControlInput1" class="form-label">Nombre Producto</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1" name="nombre_producto" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Precio</label>
                                        <input type="number" class="form-control" id="exampleFormControlInput1" name="precio" placeholder="" required> 
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Cantidad</label>
                                        <input type="number" class="form-control" id="exampleFormControlInput1" name="stock" placeholder="" required> 
                                    </div>
                                    <div class="row espacio_form">
                                        <div class="col">
                                            <label for="exampleFormControlInput1" class="form-label">Oferta</label>
                                            <div class="col">
                                            <div class="form-check form-check-inline col">
                                                <input class="form-check-input" type="radio" name="oferta" id="inlineRadio1" value="S">
                                                <label class="form-check-label" for="inlineRadio1">Si</label>
                                                </div>
                                            <div class="form-check form-check-inline col">
                                                <input class="form-check-input" type="radio" name="oferta" id="inlineRadio2" value="N">
                                                <label class="form-check-label" for="inlineRadio2">No</label>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="exampleFormControlInput1" class="form-label">Porcentaje de Oferta</label>
                                            <input type="number" class="form-control" id="exampleFormControlInput1" name="p_oferta" placeholder="">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Imagen referencial</label>
                                        <input type="file" class="form-control" id="exampleFormControlInput1" name="imagen" placeholder="" required> 
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Marca</label>
                                                <select id="id_categoria" name="id_marca" class="form-select"> 
                                                    <option value="">Seleccionar<option>
                                                    {% for m in marcas %}
                                                        <option value={{m.0}}>{{m.1}}<option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                    </div>
                                        <div class="col">
                                            <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Categoria</label>
                                                <select id="id_categoria" name="id_categoria" class="form-select">
                                                    <option value="">Seleccionar<option>
                                                    {% for c in categorias %}
                                                        <option value={{c.0}}>{{c.1}}<option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div> 
                                    </div>
                                    <button type="submit" value="Submit" class="btn btn-warning btn-lg">Crear Producto</button>
                                </div>
                            </div>
                            </form>
                            </div>
                            <!--Cierre Mantedor de Productos-->
                            </div>
                            </div>
                            <!-- Cierre Opciones de mantenedor-->
                            <!-- Entrada y Salida de productos-->
                            <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-entrada-tab" data-bs-toggle="tab" data-bs-target="#nav-entrada" type="button" role="tab" aria-controls="nav-entrada" aria-selected="true">Entrada</button>
                                <button class="nav-link" id="nav-salida-tab" data-bs-toggle="tab" data-bs-target="#nav-salida" type="button" role="tab" aria-controls="nav-salida" aria-selected="false">Salida</button>
                            </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                            <!-- Entrada de productos-->
                            <div class="tab-pane fade show active" id="nav-entrada" role="tabpanel" aria-labelledby="nav-entrada-tab">
                                <table class="table blanco espacio4 align-middle">                                     
                                    <thead>
                                        <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">NOMBRE</th>
                                        <th scope="col">PRECIO</th>
                                        <th scope="col">STOCK</th>
                                        <th scope="col">OFERTA</th>
                                        <th scope="col">PORCENTAJE DE OFERTA</th>
                                        <th scope="col">ID MARCA</th>
                                        <th scope="col">ID CATEGORIA</th>
                                        <th colspan="2">OPCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for p in productoslistados%}
                                        <tr>
                                        <th scope="row">{{ p.id_producto }}</th>
                                        <td>{{ p.nombre_producto}}</td>
                                        <td>{{ p.precio }}</td>
                                        <td>{{ p.stock }}</td>
                                        <td>{{ p.oferta }}</td>
                                        <td>{{ p.porcentaje }}</td>
                                        <td>{{ p.marca_id_marca }}</td>
                                        <td>{{ p.categoria_id_categoria }}</td>
                                        <td><a href="modificar_producto/{{ p.id_producto }}" class="btn btn-primary">MODIFICAR<a/></td>
                                        <td><a href="eliminar_producto/{{ p.id_producto }}" class="btn btn-danger">ELIMINAR<a/></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Cierre Entrada de productos-->
                            <!-- Salida de productos-->
                            <div class="tab-pane fade" id="nav-salida" role="tabpanel" aria-labelledby="nav-salida-tab">...</div>
                            <!-- Cierre Salida de productos-->
                            </div>
                            </div>
                            <!-- Cierre Entrada y Salida de productos-->
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                        </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>        
    </section> 
    {% endblock%}
</body>
</html>