{%extends "base/navbar.html"%}
{%load static%}

{% block navbar%}
<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link" aria-current="page" href="home">Bienvenido</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">*nombre bodeguero*</a>
      </li>
  </ul>
  <ul class="navbar-nav ms-auto">
      <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">CERRAR SESIÓN</button>
  </ul>
  </div>
{% endblock%}

<body>
    {% block content %}
    <section id="reserva">
        <div class="container-fluid espacio2 gradient3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 blanco">
                    <div class="container espacio3">
                        <div class="d-flex align-items-start">
                        <!--Menu Bodeguero-->
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a href="mantenedor_marca" style="text-decoration:none"><button class="nav-link centrar" id="v-pills-marcas-tab" data-bs-toggle="pill" data-bs-target="#v-pills-marcas" type="button" role="tab" aria-controls="v-pills-marcas" aria-selected="true">Marcas</button></a>
                            <button class="nav-link active" id="v-pills-categorias-tab" data-bs-toggle="pill" data-bs-target="#v-pills-categorias" type="button" role="tab" aria-controls="v-pills-categorias" aria-selected="true">Categorias</button>
                            <a href="mantenedor_productos" style="text-decoration:none"><button class="nav-link centrar" id="v-pills-productos-tab" data-bs-toggle="pill" data-bs-target="#v-pills-productos" type="button" role="tab" aria-controls="v-pills-productos" aria-selected="true">Productos</button></a>
                            <button class="nav-link" id="v-pills-pedidos-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pedidos" type="button" role="tab" aria-controls="v-pills-pedidos" aria-selected="false">Orden de Compra</button>
                            <button class="nav-link" id="v-pills-solicitud-tab" data-bs-toggle="pill" data-bs-target="#v-pills-solicitud" type="button" role="tab" aria-controls="v-pills-solicitud" aria-selected="false">Solicitudes</button>
                        </div>
                        <div class="tab-content col-md-10" id="v-pills-tabContent">
                            <!--Opciones de Marcas-->
                            <div class="tab-pane fade" id="v-pills-marcas" role="tabpanel" aria-labelledby="v-pills-marcas-tab">
                            </div>
                            <!--Cierre Opciones de Marcas-->
                            <!--Opciones de Categorias-->
                            <div class="tab-pane fade show active" id="v-pills-categorias" role="tabpanel" aria-labelledby="v-pills-categorias-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-crearcategoria-tab" data-bs-toggle="tab" data-bs-target="#nav-crearcategoria" type="button" role="tab" aria-controls="nav-crearcategoria" aria-selected="true">Crear Categoria</button>
                                        <button class="nav-link" id="nav-editarcategoria-tab" data-bs-toggle="tab" data-bs-target="#nav-editarcategoria" type="button" role="tab" aria-controls="nav-editarcategoria" aria-selected="false">Editar / Eliminar Categoria</button>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <!--Creacion de Categoria-->
                                    <div class="tab-pane fade show active" id="nav-crearcategoria" role="tabpanel" aria-labelledby="nav-crearcategoria-tab">
                                        <form class="needs-validation" id="formulario" action="" method="POST" novalidate>
                                            <div class="row espacio4">
                                                {% csrf_token %}
                                                <div class="col position-relative">
                                                    <label class="espacio_form" for="inputEmail4">ID de Categoria</label>
                                                    <input type="number" class="form-control" name="id_categoria" id="id_categoria" placeholder="GENERADO AUTOMATICAMENTE"  readonly>
                                                </div>
                                                <div class="col position-relative">
                                                    <label class="espacio_form" for="inputEmail4">Nombre de Categoria</label>
                                                    <input type="text" class="form-control" name="nombre_categoria" id="nombre_categoria" placeholder="Debe ingresar un nombre en mayusculas." minlength="3" maxlength="30" required pattern="[A-Z ]{3,30}">
                                                    <!--MENSAJE-->
                                                    <div class="invalid-feedback">Ingrese un nombre valido. Entre 3 y 30 caracteres en mayúsculas.</div>
                                                </div>
                                            </div>
                                            <button type="submit" value="Guardar" class="btn btn-warning btn-lg espacio4">Crear Categoria</button>
                                            {%if MensajeCategoriaCorrecto %}
                                            <div class="alert alert-success d-flex align-items-center espacio4" role="alert" id="mensajecorrecto">
                                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                            </symbol>
                                            </svg>
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                                <div>
                                                    {{MensajeCategoriaCorrecto}}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {%if MensajeCategoriaError %}
                                            <div class="alert alert-danger d-flex align-items-center espacio4" role="alert" id="mensajeerror">
                                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </symbol>
                                            </svg>
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                                <div>
                                                    {{MensajeCategoriaError}}
                                                </div>
                                            </div>
                                            {% endif %}  
                                        </form>
                                    </div>
                                    <!--Cierre Creacion de Categoria-->
                                    <!--Editar Categoria-->
                                    <div class="tab-pane fade" id="nav-editarcategoria" role="tabpanel" aria-labelledby="nav-editarcategoria-tab">
                                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="BUSCADOR" class="search form-control espacio4"></input>
                                        <table id="myTable" class="table blanco espacio4 align-middle listaproductos">                                     
                                            <thead>
                                                <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">NOMBRE</th>
                                                <th colspan="2">OPCIONES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for p in categorias%}
                                                <tr>
                                                <th scope="row">{{ p.id_categoria }}</th>
                                                <td>{{ p.nombre_categoria }}</td>
                                                <td><a href="modificar_categoria/{{ p.id_categoria }}" class="btn btn-primary">MODIFICAR<a/></td>
                                                <td><a href="eliminar_categoria/{{ p.id_categoria }}" class="btn btn-danger">ELIMINAR<a/></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Cierre Editar Categoria-->
                                </div>
                            </div>
                            <!--Cierre Opciones de Categorias-->
                            <!--Opciones de Productos-->
                            <div class="tab-pane fade " id="v-pills-productos" role="tabpanel" aria-labelledby="v-pills-productos-tab">
                            </div>
                            <!--Cierre Opciones de Productos-->
                            <!-- Lista de Pedidos-->
                            <div class="tab-pane fade" id="v-pills-pedidos" role="tabpanel" aria-labelledby="v-pills-pedidos-tab">
                                <table class="table blanco espacio4 align-middle">                                     
                                    <thead>
                                        <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">PRECIO TOTAL</th>
                                        <th scope="col">FECHA DE COMPRA</th>
                                        <th scope="col">FECHA ESTIMADA</th>
                                        <th scope="col">ID ESTADO PAGO</th>
                                        <th scope="col">ID DETALLE ORDEN</th>
                                        <th scope="col">ID ESTADO DE PEDIDO</th>
                                        <th scope="col">ID TIPO DE PAGO</th>
                                        <th scope="col">ID TIPO DE ORDEN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for p in pedidoslistados%}
                                        <tr>
                                        <th scope="row">{{ p.id_orden }}</th>
                                        <td>{{ p.precio_total }}</td>
                                        <td>{{ p.fecha_compra }}</td>
                                        <td>{{ p.fecha_estimada }}</td>
                                        <td>{{ p.estado_pago_id_estado_pago }}</td>
                                        <td>{{ p.detalle_orden_id_detalle_orden }}</td>
                                        <td>{{ p.estado_pedido_id_estado_pedido }}</td>
                                        <td>{{ p.tipo_pago_id_tipo_pago }}</td>
                                        <td>{{ p.tipo_orden_id_tipo_orden }}</td>
                                        <td><a href="modificar_orden/{{ p.id_orden }}" class="btn btn-primary">MODIFICAR<a/></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Cierre Lista de Pedidos-->
                            <!-- Lista de solicitudes-->
                            <div class="tab-pane fade" id="v-pills-solicitud" role="tabpanel" aria-labelledby="v-pills-solicitud-tab">
                                <table class="table blanco espacio4 align-middle">                                     
                                    <thead>
                                        <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">NOMBRE PRODUCTO</th>
                                        <th scope="col">ID CATEGORIA</th>
                                        <th scope="col">PRECIO</th>
                                        <th scope="col">ID MARCA</th>
                                        <th scope="col">STOCK</th>
                                        <th scope="col">OBSERVACIÓN</th>
                                        <th scope="col">RUT EMPLEADO</th>
                                        <th scope="col">ID ESTADO DE SOLICITUD</th>
                                        <th scope="col">OPCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for p in solicitudes%}
                                        <tr>
                                        <th scope="row">{{ p.id_solicitud }}</th>
                                        <td>{{ p.nombre_producto}}</td>
                                        <td>{{ p.nombre_categoria }}</td>
                                        <td>{{ p.precio }}</td>
                                        <td>{{ p.nombre_marca }}</td>
                                        <td>{{ p.stock }}</td>
                                        <td>{{ p.observacion }}</td>
                                        <td>{{ p.empleado_rut }}</td>
                                        <td>{{ p.estado_solicitud_id_estado }}</td>
                                        <td><a href="modificar_solicitud/{{ p.id_solicitud }}" class="btn btn-primary">MODIFICAR<a/></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Cierre Lista de Productos-->
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                        </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <script>
        function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }
        }
        }
    </script> 

    <script src="{%static 'app/js/formulario.js'%}"></script>
    {% endblock%}
</body>
</html>