{%extends "base/navbar.html"%}
{%load static%}

{% block navbar%}
<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link" aria-current="page" href="home">Bienvenido</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">*nombre bodeguero*</a>
      </li>
  </ul>
  <ul class="navbar-nav ms-auto">
      <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">CERRAR SESIÓN</button>
  </ul>
  </div>
{% endblock %}
<body>
    {% block content %}
    <section>
        <div class="container-fluid espacio2 gradient3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 blanco">
                    <div class="container espacio3">
                        <h1 class="text-center">Modificacion de Categoría</h3>
                        <div class="d-flex align-items-start">
                                <!--Mantedor de Productos-->
                                <form action="/editar_categoria/" method="POST" class="espacio4 col-md-12 needs-validation" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}                       
                                <div class="row">
                                <div class="col-md-">                                
                                    <div class="row espacio_form">
                                        <div class="col">
                                            <label for="exampleFormControlInput1" class="form-label">ID Categoria</label>
                                            <input type="number" class="form-control" id="exampleFormControlInput1" value="{{categoria.id_categoria}}" name="id_categoria" placeholder="" readonly required>
                                        </div>
                                        <div class="col">
                                            <label for="exampleFormControlInput1" class="form-label">Nombre Categoria</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1" value="{{categoria.nombre_categoria}}"  name="nombre_categoria" placeholder="" required pattern="[A-Z ]{3,30}">
                                            <!--MENSAJE-->
                                            <div class="invalid-feedback">El nombre debe ser de 3 a 30 caracteres. Solo puede contener letras en mayúsculas.</div>
                                        </div>
                                    </div>
                                    <button type="submit" value="Submit" class="btn btn-warning btn-lg">Guardar</button>
                                </div>
                            </div>
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
        </div>        
    </section> 
    <script src="{%static 'app/js/formulario.js'%}"></script>
    {% endblock %}
</body>
</html>