{%extends "base/navbar.html"%}
{%load static%}

{% block navbar%}
<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link" aria-current="page" href="home">Bienvenido</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">*nombre bodeguero*</a>
      </li>
  </ul>
  <ul class="navbar-nav ms-auto">
      <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">CERRAR SESIÓN</button>
  </ul>
  </div>
{% endblock %}
<body>
    {% block content %}
    <section>
        <div class="container-fluid espacio2 gradient3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="container espacio3">
                        <div class="card row col-md-12" >
                            <div class="card-header ">
                                <h1 class="text-center">Modificacion de Productos</h1>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-start">
                                    <!--Mantedor de Productos-->
                                    <form action="/editar_producto/" method="POST" class="espacio4 col-md-12 needs-validation" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}                       
                                    <div class="row">
                                    <div class="col-md-">                                
                                        <div class="row espacio_form">
                                            <div class="col">
                                                <h4><label for="exampleFormControlInput1" class="form-label">ID Producto</label></h4>
                                                <input type="number" class="form-control" id="exampleFormControlInput1" value="{{productos.id_producto}}" name="id" placeholder="" readonly required>
                                            </div>
                                            <div class="col">
                                                <h4><label for="exampleFormControlInput1" class="form-label">Nombre Producto</label></h4>
                                                <input type="text" class="form-control" id="exampleFormControlInput1" value="{{productos.nombre_producto}}"  name="nombre_producto" placeholder="Debe ingresar un nombre o ambos en mayusculas." minlength="3" maxlength="30" required pattern="[A-Z0-9- ]{3,30}">
                                            </div>
                                        </div>
                                        <div class="mb-3 position-relative">
                                            <h4><label for="exampleFormControlInput1" class="form-label">Cantidad</label></h4>
                                            <input type="number" class="form-control" id="exampleFormControlInput1" name="stock" value="{{productos.stock}}" min="0" max="1000" placeholder="Ingrese una cantidad, entre 0 y 1000." required> 
                                            <!--MENSAJE-->
                                            <div class="invalid-feedback">Ingrese una cantidad valida. Entre 0 y 1000.</div>
                                        </div>
                                        <div class="mb-3 position-relative">
                                            <label for="exampleFormControlInput1" class="form-label">Precio</label>
                                            <input type="number" class="form-control" id="precio" name="precio" placeholder="Ingrese un precio, entre 1000 y 3.000.000" min="1000" max="3000000" required> 
                                            <!--MENSAJE-->
                                            <div class="invalid-feedback">Ingresar un Precio valido. Entre 1.000 y 3.000.000.</div>
                                        </div>
                                        <div class="row espacio_form position-relative">
                                            <div class="col">
                                                <h4><label for="exampleFormControlInput1" class="form-label">Oferta</label></h4>
                                                <div class="col">
                                                <div class="form-check form-check-inline col">
                                                    <input class="form-check-input" type="radio" name="oferta" id="inlineRadio1" value="S" required>
                                                    <label class="form-check-label" for="inlineRadio1">Si</label>
                                                    </div>
                                                <div class="form-check form-check-inline col">
                                                    <input class="form-check-input" type="radio" name="oferta" id="inlineRadio2" value="N">
                                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col position-relative">
                                                <h4><label for="exampleFormControlInput1" class="form-label">Porcentaje de Oferta</label></h4>
                                                <input type="number" class="form-control" id="exampleFormControlInput1" name="p_oferta" value="{{productos.porcentaje}}" placeholder="Ingrese un porcentaje de oferta, entre 0 y 100." min="0" max="100" required>
                                                <!--MENSAJE-->
                                                <div class="invalid-feedback">Ingrese un porcentaje de oferta valido. Entre 0 y 100.</div>
                                            </div>
                                        </div>
                                        <div class="mb-3 position-relative">
                                            <label for="exampleFormControlInput1" class="form-label">Imagen referencial</label>
                                            <input type="file" class="form-control" id="exampleFormControlInput1" name="imagen" placeholder="" required> 
                                            <!--MENSAJE-->
                                            <div class="invalid-feedback">Insertar una Imagen.</div>
                                        </div>
                                        <button type="submit" value="Submit" class="btn btn-warning btn-lg">Guardar</button>
                                    </div>
                                </div>
                                </form>
                            </div> 
                            </div>
                        </div>
                       
                         
                    </div>
                </div>
            </div>
        </div>        
    </section> 
    <script src="{%static 'app/js/formulario.js'%}"></script>
    {% endblock %}
</body>
</html>