{%extends "base/navbarStore.html"%}
{%load static%}

<body>
    {% block content %}
    <div class="container-fluid espacio2 gradient3">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 negro">
                <div class="container espacio3">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-perfil-tab" data-bs-toggle="pill" data-bs-target="#v-pills-perfil" type="button" role="tab" aria-controls="v-pills-perfil" aria-selected="true">PERFIL</button>
                            <button class="nav-link" id="v-pills-contraseña-tab" data-bs-toggle="pill" data-bs-target="#v-pills-contraseña" type="button" role="tab" aria-controls="v-pills-contraseña" aria-selected="false">CAMBIAR CONTRASEÑA</button>
                            <button class="nav-link" id="v-pills-historial-tab" data-bs-toggle="pill" data-bs-target="#v-pills-historial" type="button" role="tab" aria-controls="v-pills-historial" aria-selected="false">HISTORIAL DE COMPRAS</button>
                        </div>
                        <div class="tab-content col-md-12" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-perfil" role="tabpanel" aria-labelledby="v-pills-perfil-tab">
                                <div class="card row col-md-12" >
                                    <div class="card-header ">
                                        <h1 class="text-center">EDITAR PERFIL</h2>
                                    </div>
                                    <div class="card-body">
                                        <form class="col-md-12 needs-validation" action="/editar_perfil/" method="POST" novalidate>
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md">
                                                    <div class="row espacio_form">
                                                        <div class="col">
                                                            <h4><label for="exampleFormControlInput1" class="form-label">RUT</label></h4>
                                                            <input type="text" class="form-control" id="exampleFormControlInput1" name="rut" placeholder="12.345.678-9" value="{{cliente.rut}}" readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 position-relative">
                                                        <h4><label for="exampleFormControlInput1" class="form-label">NOMBRE</label></h4>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" name="nombre" minlength="3" maxlength="30" placeholder="Debe ingresar un nombre o ambos en mayusculas." required pattern="[A-Z ]{3,30}" value="{{cliente.nombre}}" > 
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">El nombre debe ser de 3 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                                    </div>
                                                    <div class="row espacio_form">
                                                        <div class="col position-relative">
                                                            <h4><label for="exampleFormControlInput1" class="form-label">APELLIDO PATERNO</label></h4>
                                                            <input type="name" class="form-control" id="exampleFormControlInput1" name="ap_paterno" minlength="3" maxlength="30" placeholder="Debe ingresar su apellido paterno en mayusculas." pattern="[A-Z ]{3,30}" value="{{cliente.apellido_paterno}}" required>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">El apellido debe ser de 4 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                                        </div>
                                                        <div class="col position-relative">
                                                            <h4><label for="exampleFormControlInput1" class="form-label">APELLIDO MATERNO</label></h4>
                                                            <input type="name" class="form-control" id="exampleFormControlInput1" name="ap_materno" minlength="3" maxlength="30" placeholder="Debe ingresar su apellido materno en mayusculas." pattern="[A-Z ]{3,30}" value="{{cliente.apellido_materno}}"required>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">El apellido debe ser de 4 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col position-relative">
                                                            <h4></h4><label for="exampleFormControlInput1" class="form-label">GENERO</label>
                                                            <div class="col">
                                                            <div class="form-check form-check-inline col">
                                                                <input class="form-check-input" type="radio" name="genero" id="inlineRadio1" value="M" required>
                                                                <label class="form-check-label" for="inlineRadio1">Masculino</label>
                                                            </div>
                                                            <div class="form-check form-check-inline col">
                                                                <input class="form-check-input" type="radio" name="genero" id="inlineRadio2" value="F">
                                                                <label class="form-check-label" for="inlineRadio2">Femenino</label>
                                                            </div>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">Complete los datos</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 position-relative">
                                                                <h4><label for="exampleFormControlInput1" class="form-label" style="visibility:hidden">TELÉFONO</label></h4>
                                                                <h5><label for="">+569</label></h5>
                                                                <!--MENSAJE-->
                                                                <div class="invalid-feedback">Ingrese un número de teléfono de 8 digitos.</div>
                                                        </div>  
                                                        <div class="col-md-5 position-relative">
                                                                <h4><label for="exampleFormControlInput1" class="form-label" >TELÉFONO</label></h4>
                                                                <input type="number" class="form-control" id="telefono" name="telefono" placeholder="12345678" min="11111111" max="99999999"  required>
                                                                <!--MENSAJE-->
                                                                <div class="invalid-feedback">Ingrese un número de teléfono de 8 digitos.</div>
                                                        </div>
                                                    </div>
                                                    <div class="row espacio_form">
                                                        <div class="col position-relative">
                                                            <h4><label for="exampleFormControlInput1" class="form-label">EMAIL</label></h4>
                                                            <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="nombre@ejemplo.com" value="{{cliente.email}}" readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="row espacio_form">    
                                                        <div class="mb-3 position-relative espacio_form">
                                                                <h4><label for="exampleFormControlInput1" class="form-label">DIRECCÍON</label></h4>
                                                                <input type="text" class="form-control" id="exampleFormControlInput1" name="Direccion" minlength="4" maxlength="40" placeholder="Ingrese una direccion de valida en mayúsculas." pattern="[A-Z0-9# ]{4,40}" value="{{cliente.direccion}}" required> 
                                                                <!--MENSAJE-->
                                                                <div class="invalid-feedback">Ingrese una direccion valida en mayúsculas.</div>
                                                        </div>
                                                        <div class="mb-3 position-relative espacio_form">
                                                            <h4><label for="exampleFormControlInput1" class="form-label">CIUDAD</label></h4>
                                                            <select id="ciudad" name="ciudad" class="form-select" required>
                                                                <option selected disabled value="">Seleccione..</option>
                                                                {% for c in CIUDAD %}
                                                                    <option value="{{ c.0 }}">{{c.1}}</option>
                                                                {% endfor %}
                                                            </select>

                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">Complete los datos</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" value="Submit" class="btn btn-warning btn-lg espacio3">MODIFICAR</button>
                                                {%if messages %}
                                                    <ul class="messages"> 
                                                        {%for message in messages %}
                                                        <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                                </symbol>
                                                            </svg>
                                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                                            {% endif %}
                                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                                </symbol>
                                                            </svg>
                                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                                            {% endif %}
                                                            {{ message }}
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="tab-pane fade" id="v-pills-contraseña" role="tabpanel" aria-labelledby="v-pills-contraseña-tab">
                                <div class="card row col-md-12" >
                                    <div class="card-header ">
                                        <h1 class="text-center">CAMBIAR CONTRASEÑA</h2>
                                    </div>
                                    <div class="card-body">
                                        <form class="col-md-12 needs-validation" action="" method="POST" novalidate>
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md">  
                                                    <div class="row espacio_form position-relative">
                                                        <div class="col">
                                                            <h4><label for="exampleFormControlInput1" class="form-label">Actual Contraseña</label></h4>
                                                            <input type="password" class="form-control" id="exampleFormControlInput1" name="clave" placeholder="La contraseña debe contener almenos un numero, una mayuscula, una minuscula y almenos 8 o mas caracteres" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  required>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">La contraseña debe contener almenos un numero, una mayuscula, una minuscula y almenos 8 o mas caracteres.</div>
                                                        </div>
                                                        <div class="col">
                                                            <h4><label for="exampleFormControlInput1" class="form-label">Nueva Contraseña</label></h4>
                                                            <input type="password" class="form-control" id="exampleFormControlInput1" name="nuevacontraseña" placeholder="La contraseña debe contener almenos un numero, una mayuscula, una minuscula y almenos 8 o mas caracteres" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">La contraseña debe contener almenos un numero, una mayuscula, una minuscula y almenos 8 o mas caracteres.</div>
                                                        </div>
                                                        <div class="col">
                                                            <h4><label for="exampleFormControlInput1" class="form-label">Repetir Contraseña</label></h4>
                                                            <input type="password" class="form-control" id="exampleFormControlInput1" name="repetircontraseña1" placeholder="La contraseña debe contener almenos un numero, una mayuscula, una minuscula y almenos 8 o mas caracteres" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">La contraseña debe contener almenos un numero, una mayuscula, una minuscula y almenos 8 o mas caracteres.</div>
                                                        </div>
                                                    </div>
                                                   
                                                    <button type="submit" value="Submit" class="btn btn-warning btn-lg espacio3">MODIFICAR</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-historial" role="tabpanel" aria-labelledby="v-pills-historial-tab">
                                <div class="card row col-md-12" >
                                    <div class="card-header ">
                                        <h1 class="text-center">HISTORIAL DE COMPRAS</h2>
                                    </div>
                                    <div class="card-body">
                                        <table class="table align-middle" id="myTable7">                                     
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID ORDEN</th>
                                                    <th scope="col">PRECIO TOTAL</th>
                                                    <th scope="col">FECHA COMPRA</th>
                                                    <th scope="col">FECHA ESTIMADA</th>
                                                    <th scope="col">ESTADO PAGO</th>
                                                    <th scope="col">TIPO PAGO</th>
                                                    <th scope="col">ESTADO PEDIDO</th>
                                                    <th scope="col">OPCIONES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {%for p in listacompras%}
                                            <tr>
                                                <td>{{ p.0 }}</td>
                                                <td>{{ p.1 }}</td>
                                                <td>{{ p.2 }}</td>
                                                <td>{{ p.3 }}</td>
                                                <td>{{ p.4 }}</td> 
                                                <td>{{ p.6 }}</td>
                                                <td>{{ p.5 }}</td>
                                                <td><a href="eliminar_pasillo/{{ p.id_pasillo }}" class="btn btn-primary">DETALLES</a></td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>                                      
                                    </div>
                                </div>                     
                                                
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>  
    <script src="{%static 'app/js/formulario.js'%}"></script>
    {% endblock %}
</body>
</html>