@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*NAVBAR*/

.azul{
    color:rgb(0, 0, 255)
}

.blanco{
    color: white;
}

.negro{
    color: black;
}

.negro2{
  background: black;
}

.fondoblanco{
    background-color: white;
}

html,body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Poppins';
}

.fondo{
    background-image: url(../img/fondo.png);
}

.espacio_form{
    margin-bottom: 0.5rem;
}

.espacio{
    margin-bottom: 3rem;
}

.espacio2{
    margin-top: 3rem;
}

.espacio3{
    margin-bottom: 1rem;
}

.espacio4{
    margin-top: 1rem;
}

.espacio5{
  margin-left: 1rem;
}

.centrar{
    margin-left: auto;
    margin-right: auto;
}

/* REDES SOCIAL */
.icon-bar {
    position: fixed;
    right:0;
    top:35%;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  .instagram{
      background-color: purple;
      color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }

  /* FECHA */
.secondary-navigation .horizontal-menu {
    text-align: right;   
    margin: 0 auto;
    margin-top: 10px;
}

.current-date {
    color: #ffffff;
    font-weight: bold;
    margin-right: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    
}
ul {
    list-style: none;
}

/* Carrito*/

/* Carrito */

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 10px;
}

#cart-total{
	display: block;
	text-align: right;
	color:#fff;
	background-color: red;
	width: 30px;
	height: 30px;
	border-radius: 90%;
	font-size: 14px;
    text-align: center;
}

#cart-total p{
	text-align: center;
	margin-right: 100px;
}
.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

/*flex*/
.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
  
