{%extends "base/navbar.html"%}
{%load static%}

<body>
    {% block content %}
        <h1 class= "blanco">EMPLEADOS</h1>

        <table class= "blanco">
            <tr>
                <th>ID</th>
                <th>RUT</th>

            </tr>
            {%for p in empleados%}
            <tr>
                <td>{{ p.0 }}</td>
                <td>{{ p.1 }}</td>
                <td>{{ p.2 }}</td>
                <td>{{ p.3 }}</td>
                <td>{{ p.4 }}</td>
                <td>{{ p.5 }}</td>
                <td>{{ p.6 }}</td>
                <td>{{ p.7 }}</td>
                <td>{{ p.8 }}</td>
                <td>{{ p.9 }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endblock%}
</body>
</html>