{%extends "base/navbar.html"%}
{%load static%}

{% block navbar%}
<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link" aria-current="page" href="home">Bienvenido</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">*nombre ADMIN*</a>
      </li>
  </ul>
  <ul class="navbar-nav ms-auto">
      <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">CERRAR SESIÓN</button>
  </ul>
  </div>
{% endblock%}


<body>
    {% block content %}
    <section id="reserva">
        <div class="container-fluid espacio2 gradient3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 blanco">
                    <div class="container espacio3">
                        <!-- MENU LATERAL IZQUIERDO-->
                        <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-empleados-tab" data-bs-toggle="pill" data-bs-target="#v-pills-empleados" type="button" role="tab" aria-controls="v-pills-empleados" aria-selected="true">Empleados</button>
                            <button class="nav-link" id="v-pills-cliente-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cliente" type="button" role="tab" aria-controls="v-pills-cliente" aria-selected="false">Cliente</button>
                            <a href="mantenedor_bodega" style="text-decoration:none"><button class="nav-link centrar" id="v-pills-bodega-tab" data-bs-toggle="pill" data-bs-target="#v-pills-bodega" type="button" role="tab" aria-controls="v-pills-bodega" aria-selected="false">Bodega</button></a>
                            <a href="mantenedor_pasillo" style="text-decoration:none"><button class="nav-link centrar" id="v-pills-pasillo-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pasillo" type="button" role="tab" aria-controls="v-pills-pasillo" aria-selected="false">Pasillo</button></a> 
                            <a href="mantenedor_estanteria" style="text-decoration:none"><button class="nav-link centrar" id="v-pills-estanteria-tab" data-bs-toggle="pill" data-bs-target="#v-pills-estanteria" type="button" role="tab" aria-controls="v-pills-estanteria" aria-selected="false">Estanteria</button></a> 
                        </div>
                        <!-- CIERRE MENU-->
                        <div class="tab-content col-md-12" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-empleados" role="tabpanel" aria-labelledby="v-pills-empleados-tab">
                                 <!-- MENU HORIZONTAL DE EMPLEADOS-->
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-crear-tab" data-bs-toggle="tab" data-bs-target="#nav-crear" type="button" role="tab" aria-controls="nav-crear" aria-selected="true">Crear Empleado</button>
                                        <button class="nav-link" id="nav-listar-tab" data-bs-toggle="tab" data-bs-target="#nav-listar" type="button" role="tab" aria-controls="nav-listar" aria-selected="false">Listar Empleados</button>
                                        <button class="nav-link" id="nav-modificar-tab" data-bs-toggle="tab" data-bs-target="#nav-modificar" type="button" role="tab" aria-controls="nav-modificar" aria-selected="false">Modificar/Eliminar Empleados</button>
                                    </div>
                                </nav>
                                <!-- FORMULARIO DE CREACION DE EMPLEADOS-->
                                <div class="tab-content espacio4" id="nav-tabContent">
                                     <div class="tab-pane fade show active" id="nav-crear" role="tabpanel" aria-labelledby="nav-crear-tab">
                                        <form class="needs-validation" id="formulario" action="" method="POST" novalidate>
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-">
                                                    <div class="row espacio_form ">
                                                        <div class="col position-relative">
                                                            <label for="exampleFormControlInput1" class="form-label">RUT</label>
                                                            <input type="text" id="rut" name="rut" class="form-control" placeholder="Ingrese su rut con guión y sin puntos." minlength="9" maxlength="10" required pattern="[0-9-K ]{9,10}">
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">El Rut debe ser Valido.</div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 position-relative">
                                                        <label for="exampleFormControlInput1" class="form-label">NOMBRE</label>
                                                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Debe ingresar un nombre o ambos en mayusculas." minlength="3" maxlength="30" required pattern="[A-Z ]{3,30}"> 
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">El nombre debe ser de 3 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                                    </div>
                                                    <div class="row espacio_form position-relative">
                                                        <div class="col">
                                                            <label for="exampleFormControlInput1" class="form-label">APELLIDO PATERNO</label>
                                                            <input type="name" class="form-control" id="ap_paterno" name="ap_paterno"  placeholder="Debe ingresar su apellido paterno en mayusculas." minlength="3" maxlength="30" pattern="[A-Z ]{4,30}" required>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">El apellido debe ser de 4 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                                        </div>
                                                        <div class="col position-relative">
                                                            <label for="exampleFormControlInput1" class="form-label">APELLIDO MATERNO</label>
                                                            <input type="name" class="form-control" id="ap_materno" name="ap_materno" minlength="3" maxlength="30" placeholder="Debe ingresar su apellido materno en mayusculas."pattern="[A-Z ]{4,30}"  required>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">El apellido debe ser de 4 a 30 caracteres. Solo puede contener letras mayúsculas.</div>
                                                        </div>
                                                    </div>
                                                    <div class="row position-relative">
                                                        <div class="col-md-6 ">
                                                            <label for="exampleFormControlInput1" class="form-label">GENERO</label>
                                                            <div class="col">
                                                            <div class="form-check form-check-inline col">
                                                                <input class="form-check-input" type="radio" name="genero" id="inlineRadio1" value="M" required>
                                                                <label class="form-check-label" for="inlineRadio1">MASCULINO</label>
                                                            </div>
                                                            <div class="form-check form-check-inline col">
                                                                <input class="form-check-input" type="radio" name="genero" id="inlineRadio2" value="F">
                                                                <label class="form-check-label" for="inlineRadio2">FEMENINO</label>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    

                                                        <div class="col-md-1 position-relative">
                                                            <label for="exampleFormControlInput1" class="form-label" style="visibility:hidden">TELÉFONO</label>
                                                            <h5><label for="">+569</label></h5>
                                                           <!--MENSAJE-->
                                                            <div class="invalid-feedback">Ingrese un número de teléfono de 8 digitos.</div>
                                                        </div> 
                                                        <div class="col-md-5 position-relative">
                                                            <label for="exampleFormControlInput1" class="form-label" >TELÉFONO</label>
                                                            <input type="number" class="form-control" id="telefono" name="telefono" placeholder="12345678" min="11111111" max="99999999" required>
                                                           <!--MENSAJE-->
                                                            <div class="invalid-feedback">Ingrese un número de teléfono de 8 digitos.</div>
                                                        </div> 
                                                    </div>
                                                    <div class="row espacio_form">
                                                        <div class="col position-relative">
                                                            <label for="exampleFormControlInput1" class="form-label">EMAIL</label>
                                                            <input type="email" class="form-control" id="email" name="email" placeholder="Debe ingresar un Email valido en mayusculas" pattern="[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$" required>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">Ingrese un Correo Válido.</div>
                                                        </div>
                                                          <div class="col position-relative">
                                                              <label for="exampleFormControlInput1" class="form-label">CARGO</label>
                                                              <select id="cargo" name="cargo" class="form-select" required>
                                                                <option selected disabled value="">Seleccione...</option>
                                                                {% for c in cargos %}
                                                                  <option value="{{ c.0 }}">{{c.1}}</option>
                                                                {% endfor %}
                                                              </select>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">Complete los datos</div>
                                                          </div>
                                                    </div>
                                                    
                                                    <button type="submit" value="Submit" class="btn btn-warning btn-lg">AGREGAR</button>
                                                    {%if MensajeEmpleadoCorrecto %}
                                                    <div class="alert alert-success d-flex align-items-center espacio4" role="alert" id="mensajecorrecto">
                                                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                            </symbol>
                                                        </svg>
                                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                                            <div>
                                                                {{MensajeEmpleadoCorrecto}}
                                                            </div>
                                                    </div>
                                                    {% endif %}
                                                    {%if MensajeEmpleadoError %}
                                                    <div class="alert alert-danger d-flex align-items-center espacio4" role="alert" id="mensajeerror">
                                                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                            </symbol>
                                                        </svg>
                                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                                            <div>
                                                                {{MensajeEmpleadoError}}
                                                            </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- LISTADO DE EMPLEADOS-->
                                    <div class="tab-pane fade" id="nav-listar" role="tabpanel" aria-labelledby="nav-listar-tab">
                                        <div class="card row col-md-12" >  
                                            <div class="card-header ">
                                                <h1 class="text-center negro">Listado de Empleados</h2>
                                            </div>
                                            <div class="card-body">
                                                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="BUSCADOR" class="search form-control espacio4"></input>
                                                <table class="table align-middle text-center" id="myInput">                                     
                                                <thead>
                                                    <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">RUT</th>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">AP PATERNO</th>
                                                    <th scope="col">AP MATERNO</th>
                                                    <th scope="col">GENERO</th>
                                                    <th scope="col">TELÉFONO</th>
                                                    <th scope="col">EMAIL</th>
                                                    <th scope="col">CARGO</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {%for p in empleados%}
                                                    <tr>
                                                    <th scope="row">{{ p.0 }}</th>
                                                    <td>{{ p.1 }}</td>
                                                    <td>{{ p.2 }}</td>
                                                    <td>{{ p.3 }}</td>
                                                    <td>{{ p.4 }}</td>
                                                    <td>{{ p.5 }}</td>
                                                    <td>{{ p.6 }}</td>
                                                    <td>{{ p.7 }}</td>
                                                    <td>{{ p.8 }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                                </table>
                                            <!-- LISTADO DE EMPLEADOS-->
                                            </div>
                                        </div> 
                                        
                                    </div>
                                    <!-- TABLA DE MODIFICACION DE EMPLEADOS-->
                                    <div class="tab-pane fade" id="nav-modificar" role="tabpanel" aria-labelledby="nav-modificar-tab">
                                        <div class="card row col-md-12" >  
                                            <div class="card-header col">
                                                <h1 class="text-center negro">Listado de Empleados</h2>
                                            </div>
                                            <div class="card-body col">
                                                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="BUSCADOR" class="search form-control espacio4"></input>
                                                <table class="table align-middle text-center col-md" id="myInput">                                     
                                                    <thead>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">RUT</th>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">AP PATERNO</th>
                                                        <th scope="col">GENERO</th>
                                                        <th scope="col">TELÉFONO</th>
                                                        <th scope="col">EMAIL</th>
                                                        <th colspan="2">OPCIONES</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {%for p in listar_empleados%}
                                                        <tr>
                                                        <th scope="row">{{ p.id }}</th>
                                                        <td>{{ p.rut }}</td>
                                                        <td>{{ p.nombre }}</td>
                                                        <td>{{ p.apellido_paterno }}</td>
                                                        <td>{{ p.genero }}</td>
                                                        <td>{{ p.telefono }}</td>
                                                        <td>{{ p.email }}</td>
                                                        <td><a href="modificar_empleado/{{ p.rut }}" class="btn btn-primary col">MODIFICAR</a></td>
                                                        <td><a href="eliminar_empleado/{{ p.rut }}" class="btn btn-danger col">ELIMINAR</a></td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <!-- CIERRE FORMULARIO DE LISTADO DE EMPLEADOS-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CIERRE MENU EMPLEADOS-->
                            <!-- MENU HORIZONTAL CLIENTES-->
                            <div class="tab-pane fade" id="v-pills-cliente" role="tabpanel" aria-labelledby="v-pills-cliente-tab">
                                <div class="card row col-md-12" >  
                                    <div class="card-header col">
                                        <h1 class="text-center negro">Listado de Clientes</h2>
                                    </div>
                                    <div class="card-body col">
                                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="BUSCADOR" class="search form-control espacio4"></input>
                                        <table class="table align-middle" id="myInput">                                     
                                            <thead>
                                                <tr>
                                                    <th scope="col">RUT</th>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">APELLIDO PATERNO</th>
                                                    <th scope="col">APELLIDO MATERNO</th>
                                                    <th scope="col">GENERO</th>
                                                    <th scope="col">TELÉFONO</th>
                                                    <th scope="col">EMAIL</th>
                                                    <th scope="col">CIUDAD</th>
                                                </tr>
                                            </thead>
                                                <tbody>
                                                {%for c in cliente%}
                                                <tr>
                                                    <th scope="row">{{ c.0 }}</th>
                                                    <td>{{ c.1 }}</td>
                                                    <td>{{ c.2 }}</td>
                                                    <td>{{ c.3 }}</td>
                                                    <td>{{ c.4 }}</td>
                                                    <td>{{ c.5 }}</td>
                                                    <td>{{ c.6 }}</td>
                                                    <td>{{ c.8 }}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>  
                            <!-- MENU HORIZONTAL BODEGA-->
                            <div class="tab-pane fade" id="v-pills-bodega" role="tabpanel" aria-labelledby="v-pills-bodega-tab">
                                
                            </div>   

                            <!-- MENU HORIZONTAL PASILLO-->
                            <div class="tab-pane fade" id="v-pills-pasillo" role="tabpanel" aria-labelledby="v-pills-pasillo-tab">
                                     
                            </div>  

                            <!-- MENU HORIZONTAL ESTANTERIA-->
                            <div class="tab-pane fade" id="v-pills-estanteria" role="tabpanel" aria-labelledby="v-pills-estanteria-tab">
                            
                                  <div class="tab-content" id="nav-tabContent">
                                      <!-- AGREGAR ESTANTERIA-->
                                    <div class="tab-pane fade show active" id="nav-crearest" role="tabpanel" aria-labelledby="nav-crearest-tab">
                                        <div class="tab-pane fade show active" id="nav-crear" role="tabpanel" aria-labelledby="nav-crear-tab">
                                            <form class="needs-validation" action="" method="POST" novalidate>
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-">
                                                     <div class="row espacio_form">
                                                         <div class="col position-relative">
                                                             <label for="exampleFormControlInput1" class="form-label">CAPACIDAD</label>
                                                             <input type="number" class="form-control" id="exampleFormControlInput1" name="capacidad" min="100" max="200" placeholder="Ingrese una capacidad entre 100 y 200 unidades." required>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">Ingrese una capacidad valida. Entre 100 y 200 Unidades.</div>
                                                            </div>
                                                         <div class="col position-relative">
                                                             <label for="exampleFormControlInput1" class="form-label">ID PASILLO</label>
                                                             <input type="number" class="form-control" id="exampleFormControlInput1" name="id_pasillo" min="1" placeholder="Ingrese un ID de pasillo segun estanteria deseada." required>
                                                            <!--MENSAJE--> 
                                                            <div class="invalid-feedback">Ingrese un ID de pasillo valido.</div>
                                                        </div>
                                                     </div>
                                                    <div class="row espacio_form">
                                                        <div class="col position-relative">
                                                            <label for="exampleFormControlInput1" class="form-label">NOMBRE PRODUCTO</label>
                                                            <select id="id_producto" name="id_producto" class="form-select" required>
                                                                <option value="">Seleccionar</option>
                                                                {% for p in productos%}
                                                                  <option value="{{ p.0 }}">{{p.1}}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <!--MENSAJE-->
                                                            <div class="invalid-feedback">Debe elegir un producto.</div>
                                                        </div>
                                                    </div>
                                                        <button type="submit" value="Submit" class="btn btn-warning btn-lg">AGREGAR</button>
                                                    </div>
                                                </div>
                                              </form>
                                        </div>
                                    </div>

                                    <!-- LISTAR ESTANTERIA-->
                                    <div class="tab-pane fade" id="nav-listarest" role="tabpanel" aria-labelledby="nav-listarest-tab">
                                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="BUSCADOR" class="search form-control espacio4"></input>
                                        <table class="table blanco align-middle" id="myInput">                                     
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">CAPACIDAD</th>
                                                    <th scope="col">ID PASILLO</th>
                                                    <th scope="col">NOMBRE PRODUCTO</th>
                                                </tr>
                                            </thead>
                                                <tbody>
                                                {%for e in estanteria%}
                                                <tr>
                                                    <th scope="row">{{ e.0}}</th>
                                                    <td>{{ e.1 }}</td>
                                                    <td>{{ e.2 }}</td>
                                                    <td>{{ e.3 }}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                    </div>

                                    
                                    <!-- MODIFICAR ESTANTERIA-->
                                    <div class="tab-pane fade" id="nav-modificarest" role="tabpanel" aria-labelledby="nav-modificarest-tab">
                                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="BUSCADOR" class="search form-control espacio4"></input>
                                        <table class="table blanco align-middle" id="myInput">                                     
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">CAPACIDAD</th>
                                                    <th scope="col">ID PASILLO</th>
                                                    <th scope="col">NOMBRE PRODUCTO</th>
                                                    <th colspan="2">OPCIONES</th>
                                                </tr>
                                            </thead>
                                                <tbody>
                                                {%for e in listar_estanteria%}
                                                <tr>
                                                    <th scope="row">{{ e.id_estanteria }}</th>
                                                    <td>{{ e.capacidad }}</td>
                                                    <td>{{ e.pasillo_id_pasillo }}</td>
                                                    <td>{{ e.producto_id_producto }}</td>
                                                    <td><a href="eliminar_estanteria/{{ e.id_estanteria }}" class="btn btn-danger">ELIMINAR</a></td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                    </div>
                                </div>   
                            </div>  
                        </div>
                    </div>             
                </div>
            </div>
        </div>        
    </section> 
    <script>
        function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }
        }
        }
    </script> 
    <script src="{%static 'app/js/formulario.js'%}"></script>
    {% endblock%}
</body>
</html>