{%extends "base/navbar.html"%}
{%load static%}

{% block navbar%}
<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link" aria-current="page" href="home">Bienvenido</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">*nombre ADMIN*</a>
      </li>
  </ul>
  <ul class="navbar-nav ms-auto">
      <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">CERRAR SESIÓN</button>
  </ul>
  </div>
{% endblock%}

</ul>
<body>
    {% block content %}
    <section id="reserva">
        <div class="container-fluid espacio2 gradient3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 blanco">
                    <div class="container espacio3">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a href="{% url 'mantenedor_empleado' empleado.empleado_rut %}"  style="text-decoration:none"><button class="nav-link" id="v-pills-empleados-tab" data-bs-toggle="pill" data-bs-target="#v-pills-empleados" type="button" role="tab" aria-controls="v-pills-empleados" aria-selected="false">Empleados</button></a>
                            <button class="nav-link" id="v-pills-cliente-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cliente" type="button" role="tab" aria-controls="v-pills-cliente" aria-selected="false">Cliente</button>
                            <button class="nav-link active" id="v-pills-bodega-tab" data-bs-toggle="pill" data-bs-target="#v-pills-bodega" type="button" role="tab" aria-controls="v-pills-bodega" aria-selected="true">Bodega</button>
                            <a href="{% url 'mantenedor_pasillo' empleado.empleado_rut %}"  style="text-decoration:none"><button class="nav-link centrar" id="v-pills-pasillo-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pasillo" type="button" role="tab" aria-controls="v-pills-pasillo" aria-selected="false">Pasillo</button></a>  
                            <a href="{% url 'mantenedor_estanteria' empleado.empleado_rut %}"  style="text-decoration:none"><button class="nav-link centrar" id="v-pills-estanteria-tab" data-bs-toggle="pill" data-bs-target="#v-pills-estanteria" type="button" role="tab" aria-controls="v-pills-estanteria" aria-selected="false">Estanteria</button></a>
                        </div>
                        <div class="tab-content col-md-12" id="v-pills-tabContent">
                            <!-- Listado CLIENTES-->
                            <div class="tab-pane fade" id="v-pills-cliente" role="tabpanel" aria-labelledby="v-pills-cliente-tab">
                                <div class="card row col-md-12" >  
                                    <div class="card-header col">
                                        <h1 class="text-center negro">Listado de Clientes</h2>
                                    </div>
                                    <div class="card-body col">
                                        <input type="text" id="myInput3" onkeyup="myFunction3()" placeholder="BUSCADOR" class="search form-control espacio4"></input>
                                        <table class="table align-middle" id="myTable3">                                     
                                            <thead>
                                                <tr>
                                                    <th scope="col">RUT</th>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">APELLIDO PATERNO</th>
                                                    <th scope="col">APELLIDO MATERNO</th>
                                                    <th scope="col">GENERO</th>
                                                    <th scope="col">TELÉFONO</th>
                                                    <th scope="col">EMAIL</th>
                                                    <th scope="col">CIUDAD</th>
                                                </tr>
                                            </thead>
                                                <tbody>
                                                {%for c in cliente%}
                                                <tr>
                                                    <td>{{ c.0 }}</td>
                                                    <td>{{ c.1 }}</td>
                                                    <td>{{ c.2 }}</td>
                                                    <td>{{ c.3 }}</td>
                                                    <td>{{ c.4 }}</td>
                                                    <td>{{ c.5 }}</td>
                                                    <td>{{ c.6 }}</td>
                                                    <td>{{ c.8 }}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Cierre Listado CLIENTES-->
                            <!-- Mantenedor Bodega-->
                            <div class="tab-pane fade show active" id="v-pills-bodega" role="tabpanel" aria-labelledby="v-pills-bodega-tab">
                                <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-crearbod-tab" data-bs-toggle="tab" data-bs-target="#nav-crearbod" type="button" role="tab" aria-controls="nav-crearbod" aria-selected="true">Crear Bodega</button>
                                    <button class="nav-link" id="nav-modificarbod-tab" data-bs-toggle="tab" data-bs-target="#nav-modificarbod" type="button" role="tab" aria-controls="nav-modificarbod" aria-selected="false">Modificar/Eliminar Bodega</button>
                                </div>
                                </nav>
                                <div class="tab-content espacio4" id="nav-tabContent">
                                    <!-- Crear Bodega-->
                                    <div class="tab-pane fade show active espacio4" id="nav-crearbod" role="tabpanel" aria-labelledby="nav-crearbod-tab">
                                        <form class="needs-validation" action="" method="POST" novalidate>
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-">
                                                    <div class="row espacio_form position-relative">
                                                        <div class="col">
                                                            <label for="exampleFormControlInput1" class="form-label">CANTIDAD DE PASILLOS</label>
                                                            <input type="number" class="form-control" id="exampleFormControlInput1" name="cant_pasillos" min="1" max="99" placeholder="Ingresar un número de pasillos entre 1 y 99" required>
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">Ingrese una cantidad de pasillos valida. Entre 1 y 99 pasillos.</div>
                                                        </div>
                                                        <div class="col position-relative">
                                                            <label for="exampleFormControlInput1" class="form-label">DIRECCION</label>
                                                            <input type="text" class="form-control" id="exampleFormControlInput1" name="direccion" pattern="[A-Z0-9.# ]{5,30}" placeholder="Ingrese una direccion de Bodega valida en mayúsculas. " required>
                                                        <!--MENSAJE-->
                                                        <div class="invalid-feedback">Ingrese una direccion de Bodega valida en mayúsculas.</div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" value="Submit" class="btn btn-warning btn-lg">AGREGAR</button>
                                                    {%if MensajeBodegaCorrecto %}
                                                    <div class="alert alert-success d-flex align-items-center espacio4" role="alert" id="mensajecorrecto">
                                                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                            </symbol>
                                                        </svg>
                                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                                            <div>
                                                                {{MensajeBodegaCorrecto}}
                                                            </div>
                                                    </div>
                                                    {% endif %}
                                                    {%if MensajeBodegaError %}
                                                    <div class="alert alert-danger d-flex align-items-center espacio4" role="alert" id="mensajeerror">
                                                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                            </symbol>
                                                        </svg>
                                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                                            <div>
                                                                {{MensajeBodegaError}}
                                                            </div>
                                                    </div>
                                                    {% endif %}


                                                    {%if messages %}
                                                        <ul class="messages"> 
                                                            {%for message in messages %}
                                                            <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                                                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                                    </symbol>
                                                                </svg>
                                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                                                {% endif %}
                                                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                                    </symbol>
                                                                </svg>
                                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                                                {% endif %}
                                                                {{ message }}
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                    
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Cierre Crear Bodega-->
                                    <!-- Editar Bodega-->
                                    <div class="tab-pane fade" id="nav-modificarbod" role="tabpanel" aria-labelledby="nav-modificarbod-tab">
                                        <div class="card row col-md-12" >
                                            <div class="card-header ">
                                                <h1 class="text-center negro">Listado de Bodegas</h2>
                                            </div>
                                            <div class="card-body">
                                                <input type="text" id="myInput5" onkeyup="myFunction5()" placeholder="BUSCADOR" class="search form-control espacio4"></input>
                                                <table class="table align-middle" id="myTable5">                                     
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">ID</th>
                                                            <th scope="col">NUMERO PASILLOS</th>
                                                            <th scope="col">DIRECCION</th>
                                                            <th colspan="2">OPCIONES</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%for b in listado_bodega%}
                                                    <tr>
                                                        <td>{{ b.id_bodega }}</td>
                                                        <td>{{ b.num_pasillo }}</td>
                                                        <td>{{ b.direccion }}</td>
                                                        <td><a href="modificar_bodega/{{ b.id_bodega }}" class="btn btn-primary">MODIFICAR</a></td>
                                                        <td><a href="eliminar_bodega/{{ b.id_bodega }}" class="btn btn-danger">ELIMINAR</a></td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                {{alerta}}                                    
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- Cierre Editar Bodega-->
                                </div>
                            </div>
                            <!-- Cierre Mantenedor Bodega-->
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function myFunction3() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput3");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable3");
        tr = table.getElementsByTagName("tr");
    
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }
        }
        }
    </script>
    <script>
        function myFunction4() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput4");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable4");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }
        }
        }
    </script>
    <script>
        function myFunction5() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput5");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable5");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }
        }
        }
    </script>  
    <script src="{%static 'app/js/formulario.js'%}"></script>
    {% endblock%}
</body>
</html>