{%extends "base/navbar.html"%}
{%load static%}

{% block navbar%}
<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link" aria-current="page" href="home">Bienvenido</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">*nombre ADMIN*</a>
      </li>
  </ul>
  <ul class="navbar-nav ms-auto">
      <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">CERRAR SESIÓN</button>
  </ul>
  </div>
{% endblock%}

<body>
    {% block content %}
    <div class="container-fluid espacio2 gradient3">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <div class="container espacio3">
                    <div class="card row col-md-12">
                        <div class="card-header">
                            <h1 class="text-center">Modificacion de Bodega</h1>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-start">
                                <form class="needs-validation col-md-12" action="/editar_bodega/" method="POST" novalidate>
                                    {% csrf_token %}
                                    <div class="row espacio_form">
                                        <div class="col-md-12">
                                        <div class="row"> 
                                            <div class="col position-relative">
                                                <h4><label for="exampleFormControlInput1" class="form-label">ID BODEGA</label></h4>
                                                <input type="number" class="form-control" id="exampleFormControlInput1" name="id_bodega" placeholder="" value="{{bodegas.id_bodega}}" readonly required>
                                            </div>
                                            <div class="col position-relative">
                                                <h4><label for="exampleFormControlInput1" class="form-label">CANTIDAD DE PASILLOS</label></h4>
                                                <input type="number" class="form-control" id="exampleFormControlInput1" name="cant_pasillos" placeholder="Ingresar un número de pasillos entre 1 y 99." min="1" max="99" value="{{bodegas.num_pasillo}}" required>
                                                <!--MENSAJE-->
                                                <div class="invalid-feedback">Ingrese una cantidad de pasillos valida. Entre 1 y 99 pasillos.</div>
                                            </div>
                                            
                                        </div>
                                        <div class="col position-relative espacio_form">
                                            <h4><label for="exampleFormControlInput1" class="form-label">DIRECCION</label></h4>
                                            <input type="text" class="form-control" id="exampleFormControlInput1" name="direccion" minlenght="5" maxlength="30" placeholder="Ingresar una direccion de Bodega en mayusculas." pattern="[A-Z0-9.# ]{5,30}" value="{{bodegas.direccion}}" required>
                                        <!--MENSAJE-->
                                        <div class="invalid-feedback">Ingrese una direccion de Bodega valida en mayúsculas.</div>
                                        </div>
                                        <button type="submit" value="Submit" class="btn btn-primary btn-lg espacio3">AGREGAR</button>
                                        <a class="btn btn-danger btn-lg espacio3" href="/logemp/mantenedor_bodega" role="button">CANCELAR</a>
                                        {%if MensajeBodegaCorrecto %}
                                            <div class="alert alert-success d-flex align-items-center espacio4" role="alert" id="mensajecorrecto">
                                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                    </symbol>
                                                </svg>
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                                    <div>
                                                        {{MensajeBodegaCorrecto}}
                                                    </div>
                                            </div>
                                        {% endif %}
                                        {%if MensajeBodegaError %}
                                            <div class="alert alert-danger d-flex align-items-center espacio4" role="alert" id="mensajeerror">
                                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                    </symbol>
                                                </svg>
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                                    <div>
                                                        {{MensajeBodegaError}}
                                                    </div>
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <script src="{%static 'app/js/formulario.js'%}"></script>
    {% endblock %}
</body>
</html>